body {
    background-image: url("beachbg.jpg");
    background-size: 100%;
}

.bigdiv {
    display: block;
    margin-top: 40px;
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
    background: rgba(0, 0, 0, 0.6);
    max-width: 100%;
    overflow: hidden;
}

.link{
    display: block;
    margin-left: auto;
    margin-right: auto;
   
}

.textbox {
    display: inline-block;
    float: left;
    width: 30%;
    height: inherit;
}

.iconbox {
    display: inline-block;
    float: right;
    left: 50px;
    width: 60%;
    min-width: 150px;
}

.icon {
    width: 18%;
    min-width: 100px;
    margin: 5px;
}

h1 {
    font-size: 200%;
    color: white;
    font-family: 'Abel', sans-serif;
    text-shadow: 2px 2px black;
}


.boring {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    line-height: 50px;
    color: black;
    text-shadow: none;
    font-family: 'EB Garamond', serif;
}


.blackdiv {
    font-size: 125%;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 150px;
    background-image: url("toppics/parchmentbg.jpg");
    background-size: 100% 100%;
    /*width: 80%;
    margin-left: auto;
    margin-right: auto;*/
}

p {
    font-size: 130%;
    color: white;
    font-family: 'Abel', sans-serif;
}

a{
    text-decoration: none;
}