body{
    background-image: url("beachbg.jpg");
    background-size: 100%;
    /* Set a specific height */
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 90px;
    margin-bottom: 90px;
}

#container{
    background: rgba(255, 255, 255, 0.5);
}

#banner {
    text-align: center;
}

#banner img {
    width: 100%;
}

#banner h1{
    width: 100%;
    position: absolute;
    top: 150px;
}

.icon{
    width: 7%;
    display: inline-block;
    padding-left: 2%;
    padding-right: 2%;
    vertical-align: top;
}

.icon img{
    width: 70%;
}

.icon>p{
    display: block;
    font-family:'Roboto Condensed';
    overflow: visible;
    font-size: 1.2vw;
}

.icon>li{
    display: block;
    font-family:'Roboto Condensed';
    overflow: visible;
    font-size: .8vw;  
}

#buttonbox{
    text-align: center;
}

.button{
    display: inline-block;
    width: 30vw;
    min-width: 200px;
    min-height: 133px;
    height: 20vw;
    background-size: 100% 100%;
    margin-bottom: 10px;
}

#nakano{
    background-image:url("foodtour_small.jpg");
}

#downtown{
    background-image:url("downtown.jpg");
}

#custom{
    background-image:url("customtour_small.JPG");
}

.button:hover{
    border: 2px solid red;
    cursor: pointer;
}


.button>h2{
    font-size: 2vw;
    margin-top: 10%;
    margin-bottom: 0%;
    text-align: center;
    color: black;
    text-shadow: 2px 2px white;
    background: rgba(255, 255, 255, 0.5);
    letter-spacing: .1em;
    font-family: 'Impact';
}

.button>h3{
    font-size: 1.2vw;
    margin-top: 0%;
    text-shadow: 2px 2px white;
    background: rgba(255, 255, 255, 0.5);
    letter-spacing: .1em;
    font-family: 'Impact';
}

.back {
    font-size: 1.5vw;
    min-font-size: 100px;
    font-family: rock-salt;
    text-shadow: 2px 2px white;
    display: block;
    position: absolute;
    top: 2%;
    left: 2%;
}

#iconbox{
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    background: rgba(255, 255, 255, 0.5);
}

#bunshou {
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1vw;
}

#text>h1{
    background: none;
    letter-spacing: normal;
    padding-left: 5%;
    padding-top: 2%;
}

#text{
    display: inline-block;
    width: 50%;
    min-width: 320px;
    margin-right: 3%;
    margin-left: 2%;
}

#toursaki{
    text-align: center;
}

.destbox{
    display: inline-block;
    width: 30%;
    min-height: 650px;
    margin-left: 1%;
    margin-bottom: 10px;
    min-width: 180px;
    background: #4887bf;
    border-radius: 25px;
    text-align: center;
    vertical-align: top;
    margin-bottom: 10px;
}

.destbox p{
    padding-left: 5%;
    padding-right: 5%;
}

.destbox img{
    margin-top: 10px;
    width: 90%;
    max-height: 300px;
}

#text>h2{
    background: none;
    letter-spacing: normal;
    padding-top: 2%;
}


p{
    font-family:'Roboto Condensed';
    background: none;
    letter-spacing: normal;
    font-size: 140%;
    
}

#slidercontainer{
    display: inline-block;
    width: 40%;
    min-width: 250px;
    margin-bottom: 50px;
}

h1{
    font-size: 4vw;
    font-family: 'Impact';
    display: block;
    background: rgba(255, 255, 255, 0.5);
    text-shadow: 2px 2px white;
    letter-spacing: .2em;
}

h2{
    font-size: 2vw;
    font-family: 'Impact';
    display: block;
    background: rgba(255, 255, 255, 0.5);
    text-shadow: 2px 2px white;
    letter-spacing: .2em;
}

h3{
    font-size: 140%;
    font-family: 'Impact';
    text-shadow: 2px 2px white;
    letter-spacing: .2em;
}

ul{
    display: inline-block;
    border: 5px solid black;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-bottom: 20px;
    padding-right: 20px;
    background: rgba(255, 255, 255, 0.5);
    text-align: left;
    width: 30%;
    min-width: 250px;
    margin-left: 2%;
    margin-right: 2%;
}

li{
    font-family:'Roboto Condensed';
    background: none;
    letter-spacing: normal;
    font-size: 140%;  
}

iframe {
    width: 40%;
    margin-left: 2%;
    margin-right: 2%;
    min-width: 300px;
    display: inline-block;
}

.link{
    color: blue;
    text-decoration: underline;
}

.link:hover{
    cursor: pointer;
}